# Ignore node_modules and logs
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment variables
.env
.env.local

# Ignore downloaded videos or other media files
*.mp4
*.webm
*.mkv
*.flv
*.avi

# Ignore executable files
*.exe

# Ignore custom bin folder
bin/

# Ignore OS-specific files
.DS_Store
Thumbs.db
